{% extends "auth/login.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block title %}Potato Cookbook - 重置密码{% endblock %}

{% block left_side %}
    <div class="col-md-6 col-lg-5 m-auto align-self-center mb-5">
        <div class="g-bg-white g-pa-50 rounded">
            {% if render_type == 'reset_password_request' %}
                <header class="text-center mb-4">
                    <h2 class="g-color-black"><b>忘记密码？</b></h2>
                </header>
                <p class="text-center ">请填写您的注册邮箱，系统将发送一封包含重置密码连接的邮件到该邮箱中，请注意查收。</p>
                <hr class="g-mb-10">
            {% elif render_type == 'reset_password' %}
                <header class="text-center mb-4">
                    <h2 class="g-color-black"><b>重置密码</b></h2>
                </header>
            {% endif %}
            {# Register Form #}
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}


{% block right_side %}
{% endblock %}