{% extends "base.html" %}

{% block title %}Potato Not Found{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <body class="g-bg-bluegray-opacity-0_1">
        <div class="container g-pt-40  text-center animated fadeInDown" >
            <h1 class="display-1 g-font-size-180 g-font-niconne">500</h1>
            <h3>Oops, Something Wrong with the Cookbook!</h3>
            <br>
            <a href="/" class="btn btn-outline-success btn-lg g-brd-2 " role="spinbutton">返回主页</a>
        </div>
    </body>
{% endblock %}

{% block footer %}{% endblock %}