{% extends "base.html" %}

{% block title %}Potato Cookbook - {{ post.title }} {% endblock %}

{% block articles %}
<div class="u-heading-v3-1 g-mb-30">
<h4 class="u-heading-v3__title g-color-primary g-brd-primary">编辑文章</h4>
</div>
<div class="mb-5">
    {% if current_user.can(Permission.WRITE) %}
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-row mb-2">
                <div class="col-md-6 mb-2">
                    {{ form.title.label(class="g-font-size-16 g-font-weight-600 ") }}
                    {{ form.title(class="form-control", placeholder="标题") }}
                </div>
                <div class="col-md-3 mb-2">
                    {{ form.category.label(class="g-font-size-16 g-font-weight-600") }}
                    {{ form.category(class="form-control", placeholder="文章分类", onchange="Select('category', '#sub_category', category_url)") }}
                </div>
                <div class="col-md-3 mb-2">
                    {{ form.sub_category.label(class="g-font-size-16 g-font-weight-600") }}
                    {{ form.sub_category(class="form-control", placeholder="二级分类") }}
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-12 mb-2">
                    {{ form.summary.label(class="g-font-size-16 g-font-weight-600 ") }}
                    {{ form.summary(class="form-control", placeholder="概述") }}
                </div>
            </div>
            <div class="mb-4">{{ form.body }}</div>
            <div class="text-center" >{{ form.submit(class="btn btn-lg u-btn-primary") }}</div>
        </form>
    {% endif %}
</div>
{% endblock articles %}

{% block scripts %}
{{ super() }}
    <script>
        let category_url = "{{ url_for('blog.edit', id=post.id) }}";
        {#let csrf = "{{ csrf_token() }}";#}
    </script>
    <script src="{{ url_for('static', filename='js/custom.js') }}" charset="UTF-8"></script>
{% endblock %}