{% extends "user/user_page.html" %}

{% block title %}{{ user.username }} - 修改头像{% endblock %}

{% block user_page_right_side %}
    <div class="col-md-8 g-mb-50 ">
                <div class="border g-bg-white g-brd-gray-light-v4 rounded" style="min-height: 440px">
                    <section class="g-color-gray-dark-v4">
                        <header class="text-center mt-4 mb-3"><h3>上传头像</h3></header>
                        <div class="card my-4 mx-5 border-0">
                            <div class="row align-self-center">
                                <img src="{{ user.avatar }}" class="img-fluid card-img g-max-height-100x rounded border g-brd-darkblue g-pa-5 mb-2" style="max-width: 240px; ">
{#                                <p class="g-font-weight-600">当前头像</p>#}
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-10 col-lg-8  card-body">
                                    <form method=POST enctype=multipart/form-data action="{{ url_for('user_page.upload_avatar') }}">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type=file class="custom-file-input" id="upload" name=avatar >
                                                <label class="custom-file-label" for="upload">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <input class="btn btn-outline-secondary" type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
{% endblock user_page_right_side %}