<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potato Cookbook - 重置密码</title>
</head>
<body>
<div class="container">
    <article>
        <p>Hi, {{ user.username }}</p>
        <p>欢迎使用Potato Cookbook 找回密码功能。</p><br>
        <p>请点击一下连接重置您的密码（链接60分钟内有效）：</p>
        <p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p><br>
        <br>
        <p>------------------------------------------------------------------------</p>
        <p> 如果你错误的收到了本邮件，请您忽略上述内容</p>
        <p style="text-align: end;">—— Executive Chef Mr.Mooon</p>
    </article>
</div>
</body>
</html>