<div class="mb-5">
    {% if current_user.can(Permission.COMMENT) %}
        <form method="post">
            {{ form.hidden_tag() }}
{#            用 type_flag 参数来指定渲染表单的种类#}
            {% if type_flag == 'CommentForm' %}
                <div class="mb-4">{{ form.body }}</div>
                <div class="text-center" >{{ form.submit(class="btn btn-lg u-btn-primary") }}</div>
            {% else %}
                <div class="form-row mb-2">
                    <div class="col-md-4">{{ form.title(class="form-control", placeholder="标题") }}</div>
                    <div class="col-md-8">{{ form.summary(class="form-control", placeholder="文章概述") }}</div>
                </div>
                <div class="mb-4">{{ form.body }}</div>
                <div class="text-center" >{{ form.submit(class="btn btn-lg u-btn-primary") }}</div>
            {% endif %}
        </form>
    {% else %}
        <div class="d-flex justify-content-between mt-4 mb-5 ">
            <a href="{{ url_for('auth.login', next=request.full_path) }}" class="btn btn-lg g-color-indigo g-font-size-15 g-color-white--hover u-btn-outline-indigo u-btn-hover-v1-4 g-rounded-50" role="button">
                <span> &nbsp;评论框登录后可见 <i class="fa fa-edit g-font-size-18 float-left g-mt-3"></i></span>
            </a>
        </div>
    {% endif %}
</div>