{% extends "layout.html" %}

{% block title %}Potato Cookbook{% endblock %}

{% block top %}
<nav class="navbar navbar-expand-md g-py-18--md navbar-light bg-white">
    <div class="container d-flex justify-content-between pl-0 pr-3 pr-sm-0">
        {# Brand #}
        <a class="navbar-brand g-hidden-sm-down py-0" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" height="40" class="d-inline-block align-top" alt="">
        </a>
        {# Search Bar #}
        <form class="g-width-60x g-width-45x--md" >
            <div class="input-group input-group-lg">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-sm-0" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </form>
        {# Avatar #}
        {% block avatar %}
            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="d-flex text-decoration-none dropdown-toggle g-pl-25 g-pl-0--sm" href="#" data-toggle="dropdown">
                        <img class="img-fluid g-width-35 g-height-35 g-brd-around--dashed g-brd-gray-light-v1 rounded-circle" src="{{ current_user.avatar }}" alt="">
                        <span class="align-self-center pl-2 g-hidden-sm-down">{{ current_user.username }}</span>
                    </a>
                    <div class="dropdown-menu text-center g-min-width-100x animated fadeIn">
                        <a class="dropdown-item g-color-gray-dark-v4 g-color-aqua--hover" href="{{ url_for('user_page.user', username=current_user.username) }}">个人资料</a>
                        {% if current_user.can(Permission.WRITE) %}
                        <a class="dropdown-item g-color-gray-dark-v4 g-color-aqua--hover" href="{{ url_for('blog.new_post') }}">发表博客</a>
                        {% endif %}
                        <a class="dropdown-item g-color-gray-dark-v4 g-color-aqua--hover" href="{{ url_for('user_page.my_likes') }}">我的收藏</a>
                        <a class="dropdown-item g-color-gray-dark-v4 g-color-aqua--hover" href="{{ url_for('auth.change_password') }}">修改密码</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item g-color-gray-dark-v4 g-color-aqua--hover" href="{{ url_for('auth.logout') }}">注销登录</a>
                    </div>
                </div>
            {% else %}
                <a class="d-flex text-decoration-none" href="{{ url_for('auth.login') }}">
                    <img class="img-fluid g-width-35 g-height-35 g-brd-around--dashed g-brd-gray-light-v1 rounded-circle" src="{{ url_for('static', filename="img/avatar/akkarin.jpg") }}" alt="">
                    <span class="align-self-center pl-2 g-hidden-sm-down">登录</span>
                </a>
            {% endif %}
        {% endblock %}
    </div>
</nav>
<hr class="g-brd-gray-light-v4 my-0">
{% endblock %}

{% block navbar %}
{% include "_navbarDropdown.html" %}
{% endblock %}


{% block content %}
<div class="g-py-20 g-py-40--sm">
    <div class="container">
        <div class="row">
        {% block page_content %}
            <div class="col-lg-9">
                {% block articles %}{% endblock %}
            </div>
            <div class="col-lg-3 border">
                {% block sidebars %}
                    {# archives #}
                    {% block archives %}
                    <div class="g-my-30">
                        <div class="u-heading-v3-1 g-mb-30">
                            <h5 class="u-heading-v3__title g-color-primary g-brd-primary">归档</h5>
                        </div>
                        <ul class="list-unstyled g-font-size-13 mb-0">
                            {% for year, count in year_posts %}
                            <li class="g-my-8">
                                <i data-toggle="collapse" data-target="#y{{ year }}" class="fa fa-toggle-down mr-2 g-color-primary"></i>
                                <a href="{{ url_for('blog.archive_year', year=year) }}" class="u-link-v5 g-color-gray-dark-v1 g-color-red--hover  g-pl-0 g-pl-7--hover g-transition-0_3 g-py-7">{{ year }}年({{ count }}篇)</a>
                                <ul class="list-unstyled g-px-20 mb-0 collapse" id="y{{ year | string }}">
                                    {% for y, m, c in month_posts %}
                                        {% if y == year %}
                                        <li><a href="{{ url_for('blog.archive_month', year=y, month=m) }}" class="g-color-black g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover d-block g-rounded-50 g-px-20 g-py-8 u-link-v5 ">
                                            {{ m }}月({{ c }}篇)</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endblock %}
                    {# hot posts #}
                    {% block hot_posts %}
                    <div class="g-my-30">
                        <div class="u-heading-v3-1 g-mb-30">
                            <h5 class="u-heading-v3__title g-color-primary g-brd-primary">热门文章</h5>
                        </div>
                        <ul class="list-unstyled">
                            {% for hot_post in hot_posts %}
                            <li>
                                <div class="media">
                                    <a href="{{ url_for('blog.post', id=hot_post.id) }}" class="shadow">
                                        <img src="{{ hot_post.image}}" class="img-fluid img-thumbnail g-width-60 g-height-60">
                                    </a>
                                    <div class="media-body g-mb-25 g-ml-15 g-mt-7">
                                        <a href="{{ url_for('blog.post', id=hot_post.id) }}" class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover">{{ hot_post.title }}</a>
                                        <ul class="list-inline g-font-size-12 g-color-gray-dark-v4">
                                            <li class="list-inline-item">{{ moment(hot_post.timestamp).fromNow(refresh=True) }}</li>
                                            <li class="list-inline-item"><span class="fa fa-eye"></span> {{ hot_post.views }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endblock hot_posts %}
                    {# random posts #}
                    <div class="g-my-30">
                        <div class="u-heading-v3-1 g-mb-30">
                            <h5 class="u-heading-v3__title g-color-primary g-brd-primary">随机文章</h5>
                        </div>
                        <ul class="list-unstyled">
                            {% for random_post in random_posts %}
                                <li class="g-pb-10 g-mb-12 g-brd-bottom g-brd-gray-light-v3">
                                    <span><i class="fa fa-angle-double-right"></i></span>
                                    <a href="{{ url_for('blog.post', id=random_post.id) }}"
                                       class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover g-ml-5 g-pl-7--hover g-transition-0_3 g-py-7">{{ random_post.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock %}
            </div>
        {% endblock page_content %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="nav bg-light border-top">
    <div class="container pt-5 pb-4">
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-2 mb-sm-1">
                <a class="" href="/">
                    <img src="{{ url_for('static', filename='logo.png') }}" width="150" height="60" class="img-fluid">
                </a>
            </div>
            {#      TBD      #}
            <div class="d-none d-sm-block col-md-4"></div>
            {#      contact me      #}
            <div class="col-sm-6 col-md-4">
                <h6 class="mt-2 g-font-weight-600">联系我</h6>
                <ul class="list-inline">
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-cyan g-bg-cyan-opacity-0_1 rounded-circle"  data-toggle="tooltip" data-placement="top" title="yueshangst@yahoo.com">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-envelope"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-envelope"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm g-color-green g-bg-green-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="moon-louduan">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-weixin"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-weixin"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm g-color-blue g-bg-blue-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="393773661">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-qq"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-qq"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><a href="https://github.com/moon-shg" class="u-icon-v1 u-icon-size--sm g-color-bluegray g-bg-bluegray-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="moon-louduan">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-github"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-github"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block gototop %}
    <button id="gotoTop" class="fa fa-2x fa-arrow-up fa-border g-color-gray-dark-v4 g-color-primary--hover"></button>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
    {# gotoTop #}
        function gotoTop(minHeight) {
            // 先将#gotoTop隐藏
            $("#gotoTop").hide()
            // 定义点击返回顶部图标后，向上滚动的动画
            $("#gotoTop").click(
                function () { $('body,html').animate({scrollTop:0}, 'slow');
                return false;
                });
            // 获取页面的最小高度，无法传入值则默认为600像素
            minHeight? minHeight = minHeight:minHeight = 500;
            // 为窗口的scroll时间绑定处理函数
            $(window).scroll(function () {
                // 获取窗口滚动条的垂直滚动距离
                let s = $(window).scrollTop();
                // 当窗口的滚动条的垂直滚动距离大于页面最小高度时，让返回顶部的图标渐现，否则渐隐
                if( s > minHeight){
                    $("#gotoTop").fadeIn();
                }else{
                    $("#gotoTop").fadeOut();
                }
            });
        }
        gotoTop();
    </script>
{% endblock %}