{% extends "layout.html" %}

{% block title %}Potato Cookbook{% endblock %}

{% block top %}
<nav class="navbar navbar-expand-md g-py-18--md navbar-light bg-white">
    <div class="container d-flex justify-content-between pl-0 pr-3 pr-sm-0">
        {# Brand #}
        <a class="navbar-brand g-hidden-sm-down py-0" href="/">
            <img src="static/logo.png" height="40" class="d-inline-block align-top" alt="">
        </a>
        {# Navbar Link #}
        <form class="g-width-45x--md" >
            <div class="input-group input-group-lg">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-sm-0" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </form>
        <a class="d-flex" href="{{ url_for('auth.login') }}">
            <img class="img-fluid g-width-35 g-height-35 g-brd-around--dashed g-brd-gray-light-v1 rounded-circle" src="../static/img/akkarin.jpg" alt="">
            <span class="align-self-center pl-2 g-hidden-sm-down">登录</span>
        </a>
    </div>
</nav>
<hr class="g-brd-gray-light-v4 my-0">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container pl-0 pr-3 pr-sm-0">
        {#   logo     #}
        <a class="navbar-brand g-hidden-sm-up p-0" href="/">
            <img src="static/logo.png"  height="30" class="d-inline-block align-top" alt="">
        </a>
        {#        Toggler/collapsibe Button         #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="g-py-20 g-py-40--sm">
    <div class="container border">
        <div class="row">
            <div class="col-lg-9 border bg-secondary">
                {% block articles %}{% endblock %}
            </div>
            <div class="col-lg-3 border bg-light">
                {% block sidebars %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="nav bg-light border-top">
    <div class="container pt-5 pb-4">
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-2 mb-sm-1">
                <a class="" href="/">
                    <img src="{{ url_for('static', filename='logo.png') }}" width="150" height="60" class="img-fluid">
                </a>
            </div>
            {#      TBD      #}
            <div class="d-none d-sm-block col-md-4"></div>
            {#      contact me      #}
            <div class="col-sm-6 col-md-4">
                <h6 class="mt-2">联系我</h6>
                <ul class="list-inline">
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-cyan g-bg-cyan-opacity-0_1 rounded-circle"  data-toggle="tooltip" data-placement="top" title="yueshangst@yahoo.com">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-envelope"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-envelope"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm g-color-green g-bg-green-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="moon-louduan">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-weixin"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-weixin"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><span class="u-icon-v1 u-icon-size--sm g-color-blue g-bg-blue-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="393773661">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-qq"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-qq"></i>
                    </span></li>
                    <li class="list-inline-item mr-2"><a href="https://github.com/moon-shg" class="u-icon-v1 u-icon-size--sm g-color-bluegray g-bg-bluegray-opacity-0_1 rounded-circle u-icon-slide-up--hover" data-toggle="tooltip" data-placement="top" title="moon-louduan">
                        <i class="g-font-size-default u-icon__elem-regular fa fa-github"></i>
                        <i class="g-font-size-default u-icon__elem-hover fa fa-github"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}


