{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Potato Cookbook - 主页{% endblock %}

{% block articles %}
{# posts list #}
{% include "_post.html" %}
{# posts pagination #}
<div class="mb-5">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endblock articles %}

{% block sidebars %}
{# archives #}
<div CLASS="g-my-30">
    <div class="u-heading-v3-1 g-mb-30">
        <h5 class="u-heading-v3__title g-color-primary g-brd-primary">归档</h5>
    </div>
    <ul class="list-unstyled g-font-size-13 mb-0">
        {% for year, count in year_posts %}
        <li>
            <i data-toggle="collapse" data-target="#y{{ year }}" class="fa fa-toggle-down mr-2 g-color-primary"></i>
            <a href="#" class="u-link-v5 g-color-gray-dark-v1 g-color-red--hover  g-pl-0 g-pl-7--hover g-transition-0_3 g-py-7">{{ year }}年({{ count }}篇)</a>
            <ul class="list-unstyled g-px-20 mb-0 collapse" id="y{{ year | string }}">
                {% for y, m, c in month_posts %}
                    {% if y == year %}
                    <li><a href="#" class="g-color-black g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover d-block g-rounded-50 g-px-20 g-py-8 u-link-v5 ">
                        {{ m }}月({{ c }}篇)</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
